{% extends "index.twig" %}
{% block content %}
    {% if visitor %}
        <h1>{{ user.first_name }}'s Workouts</h1>
        <hr>
    {% endif %}

        {% if workouts|length > 0 %}
            {% for workout in workouts %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <small>{{ workout.date | date("F jS, Y") }}</small>
                        <h4>{{ workout.title }}</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong> {{ workout.type | capitalize }}</strong>, <em>{{ workout.duration }} mins</em>
                        </p>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="btn-group btn-group-sm counts">
                            {% if not visitor or workout.already_liked %}
                            <a class="like
                                        btn
                                        btn-info
                                        disabled "
                                workout-id="{{ workout.id }}">
                                <span class="fa fa-thumbs-up"></span>
                                <span class="like-count"> {{ workout.likes }}</span>
                            </a>
                            {% else %}
                            <a class="like
                                    btn
                                    btn-info"
                               workout-id="{{ workout.id }}">
                                <span class="fa fa-thumbs-up"></span>
                                <span class="like-count">Like</span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="like-action pull-right">
                            <a href="./{{ workout.id }}" type="button" class="pull-right btn btn-primary btn-sm"><span class="fa fa-external-link" aria-hidden="true"></span> View</a>
                            {% if not visitor %}
                                <a href="./edit/{{ workout.id }}" type="button" class="pull-right btn btn-warning btn-sm"><span class="fa fa-pencil" aria-hidden="true"></span> Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <div class="jumbotron">
                <h3>You haven't logged any workouts yet!</h3>
                <p>Add a workout to start tracking your progress.</p>
            </div>
        {% endif %}
    {% if not visitor %}
        <a href="./new" class="btn btn-primary btn-lg">Add a workout</a>
    {% endif %}
    <script type="text/javascript" src="{{ app_path }}/assets/js/workouts-main.js"></script>
{% endblock %}