{% extends "index.twig" %}
{% block content %}
    <h1>Teammates</h1>
    <div class="well well-lg">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>View Workouts <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Turn on sharing to make your workouts visible to your teammates"></span></th>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>{{ member.first_name }} {{ member.last_name }}</td>
                        <td>{{ member.email }}</td>
                        <td>
                            {% if member.private != 1 %}
                                <a href="{{ app_path }}/workouts/?member_id={{ member.id }}">View Workouts</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}