<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle inverse collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ app_path }}/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        {% if is_logged_in %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Account<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ app_path }}/account/edit">Edit my account</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-dashboard"></span> My Workouts<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ app_path }}/workouts/">View All</a></li>
                <li><a href="{{ app_path }}/workouts/new">Add a workout</a></li>
                <li><a href="{{ app_path }}/workouts/summary">My progress</a></li>
              </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-star"></span> Team<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ app_path }}/team/">Team Progress</a></li>
              <li><a href="{{ app_path }}/team/members">Team Members</a></li>
            </ul>
          </li>
          <li class="navbar-right pull-right">
            <a href="{{ app_path }}/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>